<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truedev.application" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.truedev.application.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.truedev.application.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/truedev"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <service android:name="com.parse.PushService" /> -->


        <!-- <receiver android:name="com.parse.ParseBroadcastReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name="com.parse.ParsePushBroadcastReceiver" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.parse.push.intent.RECEIVE" /> -->
        <!-- <action android:name="com.parse.push.intent.DELETE" /> -->
        <!-- <action android:name="com.parse.push.intent.OPEN" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name="com.parse.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- &lt;!&ndash; IMPORTANT: Change "com.parse.starter" to match your app's package name. &ndash;&gt; -->
        <!-- <category android:name="com.truedev.application" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".Activity.ItemActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.SampleActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/map_activity_item" >
        </activity>
        <activity
            android:name=".GridExample"
            android:label="Grid POC" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.CameraActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="212cee0812295a2c1f7ffe324c95efe625a227ea" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBCnuONgR6ASm4J5nWo2eIL5rf84G14a4U" />

        <activity
            android:name=".Activity.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Activity.FolderFiles"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Activity.TestLoaderActivity"
            android:label="@string/title_activity_test_loader" >
        </activity>
    </application>

</manifest>
